<div class="account-sidebar" id="account-sidebar">
    <div class="account-sidebar__frame">
        <div class="accounts">
            <div class="account-sidebar__item account-sidebar__avatar__active-user">
                <a class="account-sidebar__avatar account-sidebar__avatar__hover-active" href="/profile" aria-label="Сменить аватар">
                    <img class="account-sidebar__avatar-img" src={{this.avatar}} alt="{{this.login}}">
                </a>
                <div class="account-sidebar__text">
                    <div class="account-sidebar__title" >
                        <div class="account-sidebar__name" aria-label="{{this.firstName}} {{this.lastName}}">
                            {{this.firstName}} {{this.lastName}}
                        </div>
                    </div>
                    <div class="account-sidebar__desc" aria-label="{{this.login}}">
                        {{this.login}}
                    </div>
                </div>
            </div>
            <hr class="account-sidebar__hr" id="account-sidebar__hr">
        </div>
    </div>
</div>
