<div class="letter-list-header" id="letter-list-header">
    <div class="letter-list-header__b-area">
        <div class="letter-list-header__b-area__button-group">
        <div class="letter-list-header__b-area__select">
            <svg class="letter-list-header__b-area__icon letter-list-header__b-area__icon__color letter-list-header__b-area__icon__size" fill="none"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                {{#if this.select.img includeZero=true}}
                    {{{ this.select.img }}}
                {{else}}
                    <path d="m2 6c0-1.10457.89543-2 2-2h5l2 2h5c1.1046 0 2 .89543 2
                2v6c0 1.1046-.8954 2-2 2h-12c-1.10457 0-2-.8954-2-2z"
                          stroke-width="2px" stroke-linecap="round" stroke-linejoin="round"/>
                {{/if}}
            </svg>
            <p class="font-caption-0 letter-list-header__b-area__text letter-list-header__b-area__text__color">{{ this.select.text }}</p>
        </div>

        <div class="letter-list-header__b-area__unselect">
            <svg class="letter-list-header__b-area__icon letter-list-header__b-area__icon__color letter-list-header__b-area__icon__size" fill="none"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                {{#if this.unselect.img includeZero=true}}
                    {{{ this.unselect.img }}}
                {{else}}
                    <path d="m2 6c0-1.10457.89543-2 2-2h5l2 2h5c1.1046 0 2 .89543 2
                2v6c0 1.1046-.8954 2-2 2h-12c-1.10457 0-2-.8954-2-2z"
                          stroke-width="2px" stroke-linecap="round" stroke-linejoin="round"/>
                {{/if}}
            </svg>
            <p class="font-caption-0 letter-list-header__b-area__text letter-list-header__b-area__text__color">{{ this.unselect.text }}</p>
        </div>
        </div>

        <div class="letter-list-header__b-area__sort">
            <p class="font-caption-0 letter-list-header__b-area__text letter-list-header__b-area__text__color">{{ this.sort.text }}</p>
            <svg class="letter-list-header__b-area__icon letter-list-header__b-area__icon__color letter-list-header__b-area__icon__size" fill="none"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                {{#if this.sort.img includeZero=true}}
                    {{{ this.sort.img }}}
                {{else}}
                    <path d="m2 6c0-1.10457.89543-2 2-2h5l2 2h5c1.1046 0 2 .89543 2
                2v6c0 1.1046-.8954 2-2 2h-12c-1.10457 0-2-.8954-2-2z"
                          stroke-width="2px" stroke-linecap="round" stroke-linejoin="round"/>
                {{/if}}
            </svg>
        </div>
    </div>
</div>
