<link rel="stylesheet" href="./src/components/letterList/letterFrame.css" type="text/css">
<link rel="stylesheet" href="./src/components/letterList/letterList.css" type="text/css">

<div class="letterList">
    {{#each messages}}

        <div class="letter-frame">
            <div class="letter-read-state-frame"></div>
            <div class="letter-content-frame">
                <div class="letter-content-header-frame">
                    <div class="letter-content-header-image-frame">
                        <img src={{img}} class="letter-content-image-letter" alt="">
                    </div>
                    <div class="letter-content-header-text-frame">
                        <label class="letter-content-header-name-text">
                            {{from_user}}
                        </label>
                        <div class="letter-content-header-text-bottom-frame">
                            <label class="letter-content-header-second-text">
                                {{title}}
                            </label>
                            <label class="letter-content-header-second-text" style="text-align: right">
                                {{creating_date}}
                            </label>
                        </div>

                    </div>
                </div>
                <div class="letter-content-text-frame">
                    <label class="letter-content-text">
                        {{text}}
                    </label>
                </div>
            </div>
        </div>

    {{/each}}
</div>
