<link rel="stylesheet" href="./src/components/Form/Form.css" type="text/css">

{{#each field}}
    <div class="wrapper-input">
        <input class="wrapper-input-input wrapper-input-color" type={{this.type}} name={{this.name}}
               maxlength={{this.maxlenght}} id={{this.name}} required/>
        <span class="font-normal-0 span-wrapper wrapper-input-span">{{this.title}}</span>
    </div>
{{/each}}

