<div id="letter-frame-id-{{message_id}}" class="letter-frame" data-section="{{ message_id }}">
    <div class="letter-read-state-frame"></div>
    <div class="letter-content-frame">
        <div class="letter-content-header-frame">
            <div class="letter-content-header-image-frame">
                {{#if img includeZero=true}}
                    <img src={{img}} class="letter-content-image-letter" alt="{{from_user}}">
                {{else}}
                    <img src='../../img/female-avatar.png' class="letter-content-image-letter" alt="{{from_user}}">
                {{/if}}
            </div>
            <div class="letter-content-header-text-frame">
                <label class="letter-content-header-name-text font-normal-0">
                    {{from_user}}
                </label>
                <div class="letter-content-header-text-bottom-frame">
                    <label class="letter-content-header-second-text font-normal-0">
                        {{title}}
                    </label>
                    <label class="letter-content-header-second-text font-normal-0" style="text-align: right">
                        {{creating_date}}
                    </label>
                </div>
            </div>
        </div>
        <div class="letter-content-text-frame">
            <label class="letter-content-text font-caption-0">
                {{text}}
            </label>
        </div>
    </div>
</div>