{{#each field}}
    <div class="input-form input-form_indent">
        <input class="input-form__size-l input-form__color" type="{{this.type}}" name="{{this.name}}"
               maxlength="{{this.maxlenght}}" id="{{this.name}}" required/>
        <span class="input-form__span input-form__span_indent input-form__span_size-l input-form__span_animation input-form__span_color font-normal-0">{{this.title}}</span>
    </div>
{{/each}}
