<a class="menu-button menu-button_color menu-button_size-m" href="{{ href }}" data-section="{{ href }}">
    <div class="menu-button__left-frame">
        {{{ img }}}
            <p class="font-caption-0 menu-button__text_color">{{ text }}</p>
    </div>
    <div class="menu-button__right-frame">
            <p class="font-caption-0 menu-button__text_color">{{ count }}</p>
    </div>
</a>
