<header id="header" class="navbar navbar_color navbar_size">
    <div class="navbar__frame-left">
        <a class="navbar__emblem-button" href="/inbox">
            <svg width="40px" height="40px" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.4537 33.3434L1.99634 50.987V24.2793L16.4537 33.3434Z" fill="#88BDFD"/>
                <path d="M18.159 34.4133L26.9531 39.9261L35.8401 34.3545L50.6726 52.4568H3.37256L18.159 34.4133Z"
                      fill="#88BDFD"/>
                <path d="M37.5452 33.2846L51.9099 24.2793V50.8168L37.5452 33.2846Z" fill="#88BDFD"/>
                <path d="M50.7476 22.6525L45.5349 25.9208V20.4678L50.7476 22.6525Z" fill="#5336C7"/>
                <path d="M9.37036 27.724V1.54492H44.5364V27.724L26.9535 38.7477L9.37036 27.724Z" fill="white"/>
                <path d="M21.7611 10.4395C24.0734 10.4395 25.955 12.3197 25.955 14.63C25.955 15.1814 26.4012 15.6284 26.9531
            15.6284C27.505 15.6284 27.9516 15.1814 27.9516 14.63C27.9516 12.3197 29.8318 10.4395 32.1437 10.4395C34.4558
            10.4395 36.336 12.3197 36.336 14.63C36.336 15.7952 35.8586 16.8822 34.9918 17.6907C34.9461 17.7329 34.9058
            17.7785 34.8697 17.8272L26.9531 25.7428L19.0389 17.8293C19.0038 17.7811 18.963 17.7359 18.9182 17.6942C18.0488
             16.8827 17.5688 15.7947 17.5688 14.63C17.5688 12.3197 19.4495 10.4395 21.7611 10.4395Z" fill="#5336C7"/>
                <path d="M8.37217 25.9208L3.15869 22.6525L8.37217 20.4678V25.9208Z" fill="#5336C7"/>
                <path d="M26.953 28.1534C26.6976 28.1534 26.4423 28.0555 26.2472 27.8606L17.5193 19.1331C17.4899 19.1037
             17.4626 19.073 17.4372 19.041C16.2334 17.86 15.5723 16.3005 15.5723 14.6303C15.5723 11.219 18.3488 8.44336
             21.7611 8.44336C23.933 8.44336 25.8475 9.56733 26.953 11.2641C28.0577 9.56733 29.9713 8.44336 32.1436
             8.44336C35.5569 8.44336 38.333 11.219 38.333 14.6303C38.333 16.3013 37.6732 17.8605 36.472 19.0384C36.4464
              19.0717 36.4184 19.1033 36.3878 19.1331L27.6587 27.8606C27.4636 28.0555 27.2083 28.1534 26.953
              28.1534ZM19.0389 17.8297L26.953 25.7431L34.8689 17.8276C34.9059 17.7789 34.9472 17.7332 34.9917
               17.6911C35.8587 16.8826 36.3359 15.7956 36.3359 14.6303C36.3359 12.3201 34.4557 10.4398 32.1436
                10.4398C29.8317 10.4398 27.9515 12.3201 27.9515 14.6303C27.9515 15.1818 27.5049 15.6288 26.953
                15.6288C26.4011 15.6288 25.9552 15.1818 25.9552 14.6303C25.9552 12.3201 24.0733 10.4398 21.7611
                10.4398C19.4495 10.4398 17.5689 12.3201 17.5689 14.6303C17.5689 15.7951 18.0488 16.883 18.9182
                17.6946C18.963 17.7363 19.0038 17.7815 19.0389 17.8297Z" fill="#393939"/>
                <path d="M51.4381 53.3923L34.9729 33.2972L36.5169 32.0312L52.9823 52.1264L51.4381 53.3923Z"
                      fill="#393939"/>
                <path d="M26.9533 39.9268L0.467773 23.322L1.52858 21.6309L26.9533 37.5694L52.3787 21.6309L53.4386
            23.322L26.9533 39.9268Z" fill="#393939"/>
                <path d="M53.9069 54.4545H0V21.8122L9.26397 17.9287L10.0361 19.7705L1.99655
            23.1401V52.4575H51.91V23.1401L43.8694 19.7705L44.6417 17.9287L53.9069 21.8122V54.4545Z" fill="#393939"/>
                <path d="M45.5344 27.5006H43.5376V2.54387H10.3684V27.5006H8.37183V0.546875H45.5344V27.5006Z"
                      fill="#393939"/>
                <path d="M2.60764 53.3923L1.06348 52.1264L17.53 32.0312L19.0743 33.2972L2.60764 53.3923Z"
                      fill="#393939"/>
            </svg>

            <p class="font-normal-0 navbar__text_color">MailBox</p>
        </a>
        <div class="navbar__menu-button" id="navbar__menu-button">
            <svg class="navbar__menu-button__icon navbar__menu-button__icon__color navbar__menu-button__icon__size"
                 fill="none"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                {{#if this.menu.img includeZero=true}}
                    {{{ this.menu.img }}}
                {{/if}}
            </svg>
        </div>
        <div class="navbar__email" id="navbar__email">
        </div>
        <div class="navbar__back-left-mail" id="navbar__back-left-mail">
            <svg class="navbar__back-left-mail__icon navbar__back-left-mail__icon__color navbar__back-left-mail__icon__size"
                 fill="none"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                {{#if this.backLeft.img includeZero=true}}
                    {{{ this.backLeft.img }}}
                {{/if}}
            </svg>
        </div>
    </div>
    <div class="navbar__frame__center" id="navbar__frame__center">
        {{{this.folderName}}}
    </div>
    <div class="navbar__frame-right">
        {{{this.profileButton}}}
        {{{this.userInfo}}}
        <div class="navbar__send-mail" id="navbar__send-mail" data-section="/new-mail">
            <svg class="navbar__send-mail__icon navbar__send-mail__icon__color navbar__send-mail__icon__size"
                 fill="none"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                {{#if this.send.img includeZero=true}}
                    {{{ this.send.img }}}
                {{/if}}
            </svg>
        </div>
        <div class="navbar__back-right-mail" id="navbar__back-right-mail">
            <svg class="navbar__back-right-mail__icon navbar__back-right-mail__icon__color navbar__back-right-mail__icon__size"
                 fill="none"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                {{#if this.backRight.img includeZero=true}}
                    {{{ this.backRight.img }}}
                {{/if}}
            </svg>
        </div>
    </div>
</header>
