<div class="input-form-locked input-form-locked__indent" data-section="{{this.value}}">
    <input readonly="readonly" class="input-form-locked__size input-form-locked__color" type="text" name="{{this.value}}"
           maxlength="30" id="{{this.value}}"  value="{{this.value}}" required/>
    <svg class="input-form-locked__icon input-form__icon-locked__color input-form__icon-locked__size" id="{{this.iconName}}"
         fill="none"
         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <g stroke="#7c7c7d" stroke-linecap="round" stroke-linejoin="round"
           stroke-width="2">
            <path clip-rule="evenodd" d="m4.29289 4.29289c.39053-.39052 1.02369-.39052
            1.41422 0l4.29289 4.2929 4.2929-4.2929c.3905-.39052 1.0237-.39052 1.4142 0
            .3905.39053.3905 1.02369 0 1.41422l-4.2929 4.29289 4.2929 4.2929c.3905.3905.3905
            1.0237 0 1.4142s-1.0237.3905-1.4142 0l-4.2929-4.2929-4.29289
            4.2929c-.39053.3905-1.02369.3905-1.41422 0-.39052-.3905-.39052-1.0237
            0-1.4142l4.2929-4.2929-4.2929-4.29289c-.39052-.39053-.39052-1.02369 0-1.41422z"
            fill-rule="evenodd"/>
        </g>
    </svg>
</div>
