<div class="profile-data__item" data-section="{{email}}">
    <a class="profile-data__avatar">
        <img src="{{avatar}}" class="profile-data__avatar-img skeleton__block" alt="">
    </a>
    <div class="profile-data__text">
        <div class="profile-data__title" >
            <div class="profile-data__name">
                {{firstName}} {{lastName}}
            </div>
        </div>
        <div class="profile-data__desc">
            {{email}}
        </div>
    </div>
</div>
